@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&display=swap');


:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent1-color: #28a745;
  --accent2-color: #ffc107;

  --heading-font: 'Roboto', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;

  --navigation-background-color: #093f75;
  --navigation-link-color: #333;
  --navigation-hover-link-color: #007bff;
  --navigation-hover-background-color: #e9ecef;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: #333;
}

header {
  padding: 20px;
  background-color: var(--accent-color);
}

p {
  padding: 10px;
}


nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,index.html
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}